<!DOCTYPE html>
<html ng-app="module1-solution">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.min.css">
   <style>
     .message { font-size: 1.3em; font-weight: bold; }
   </style>
    <title>Module1 Solution</title>
  </head>
  <body>
    <div ng-controller="module1-controller">
    <div class="form-group" >
<input type="text" ng-model="name" ng-blur="clear()" >
<br/>
<button ng-click="foodFinder()" >Check if too much</button>

    </div>
    <div class="form-group message">
          Inside my input {{text}} {{name}}
        </div>
      </div>
  </body>
</html>
